header h1{
    background:url("bg.jpg") left / auto 100% no-repeat, url("bg.jpg") right / auto 100% no-repeat;
}
.root{
    font-size:larger;
}
img.main-image{
    width:300px;
}
img.additional-image{
    width:180px;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: rgb(28, 55, 175); /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
/*.btn:hover{
	background: #f4f4f4;
	color: grey;
}*/