{% extends "layout/basic.html" %}
{%load bootstrap4%}
{% load thumbnail %}
{% load static %}

{% block content %}
<h2>Последние 10 объявлений</h2>
{% if bbs %}
<ul class="list-unstyled">
    {% for bv in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=bv.rubric.pk pk=bv.pk as url %}
        <a href="{{ url }}{{ all }}">
        {% if bv.image %}
        <img class="mr-3" src="{% thumbnail bv.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">
          <h3><a href="{{ url }}{{ all }}">
          {{ bv.title }}</a></h3>
          <div>{{ bv.content }}</div>
          <p class="text-right font-weight-bold">{{ bv.price }} руб.</p>
          <p class="text-right font-italic">{{ bv.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}