{%extends 'layout/basic.html'%}

{%load thumbnail%}
{%load static%}
{%load bootstrap4%}

{%block title%}Профиль пользователя{%endblock%}

{%block content%}
<h2>Профиль пользователя{{user.name}}</h2>
{%if user.first_name and user.last_name%}
<p>Здравствуйте, {{user.first_name}} {{user.last_name}}!</p><!-- не выводит имя пользователя-->
{%else%}
<p>Здравствуйте!</p>
{%endif%}
<p><a href="{% url 'main:profile_bv_add' %}">Добавить объявление</a></p>
<h3>Ваши объявления</h3>
{%if bbs%}
<ul class="list-unstyled">
    {%for bv in bbs%}
    <li class="media my-5 p-3 border">
        {%url 'main:profile_bv_detail' pk=bv.pk as url%}
        <a href="{{url}}{{all}}">
            {%if bv.image%}
            <img class="mr-3" src="{%thumbnail bv.image 'default'%}">
            {%else%}
            <img class="mr-3" src="{%static 'main/empty.jpg'%}">
            {%endif%}
        </a>
        <div class="media-body">
            <h3><a href="{{url}}{{all}}">{{bv.title}}</a></h3>
            <div>{{bv.content}}</div>
            <p class="text-right font_weight-bold">{{bv.price}} руб.</p>
            <p class="text-right font_weight-bold">{{bv.created_at}}</p>
        </div>
    </li>
    {%endfor%}
</ul>

{%endif%}
{%endblock%}